.view-wrap.addGoods-main {
  //height: 100%;
  position: relative;
  display: flex;
  overflow: visible;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  padding: 0 0.2rem;


  .outBox {
    display: flex;
    flex: 1;
    height: 100%;
    padding: 0 0.3rem;
    flex-direction: column;
    background: #FFFFFF;

    .topHead {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      .left {
        font-size: 0.34rem;
        font-weight: bold;
      }

      .right {
        //height: 0.48rem;
        background: rgb(252, 240, 132);
        border-radius: 999rem;
        padding: 0.1rem 0.3rem;
        font-size: 0.28rem;
        font-weight: 300;
      }
    }

    .goodsDetailInput {
      margin-top: 0.3rem;
      border-bottom: 1px solid rgb(228, 228, 228);

      .goodsDetail {
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        min-height: 2rem;
        max-height: 3rem;
        font-size: 0.38rem;
        outline: none;

        &::-webkit-scrollbar {
          display: none;
        }

      }
    }
  }
}
